header {
  display: flex;
  justify-content: space-between;
  margin: none;
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.pokemon-images {
  cursor: pointer;
  height: 8rem;
  width: 8rem;
}

.card:hover {
  transform: scale(1.2);
}

.name {
  text-transform: capitalize;
}
